.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("../imgs/background.jpg");
    min-height: 75%;
}
body,h1,h2,h3,h4,h5 {
	font-family: "Raleway", sans-serif
}

.warning {
	color: red;
	text-shadow: blue;
	font-weight: bold;
}